<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>
<% if @item.image.attached? %>
    <%=image_tag @item.image,size: "100x100" %>
<% end %>
<%= @item.name %>
<%= @item.body %>
ジャンル名
<%= @item.genre.name %>
<%= @item.price_no_tax %>
<% if @item.sales_status %>
販売中
<%else%>
販売停止中
<%end%>
<%= link_to "商品編集", edit_admin_item_path(@item.id) %>