<div class= "row">
    <div class= "col-1 mx-5 my-3">
        <%= render 'template/genre_search' %>
    </div>
    
    <div class = "col-10">
        
        <div class="row">
            <div class="col-8 border border-secondary my-5 p-5">
            ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の開覧はできますが、購入には会員登録が必要になります。
                
            </div>
        </div>
        
        <h1 style="display:inline">新着商品</h1></br>
            <% @products.each do |item| %>
                <% next if item.sales_status==false %>
                
                <%= link_to item_path(item.id) do%>
                    <%=image_tag item.image,size: "100x100" %>
                <%=item.name %>
                ¥<%=item.price_no_tax %>
                <% end %>
            <% end %>
            <div class="row">
            <%= link_to "すべての商品を見る>>", items_path ,class: "ml-auto" %>
            </div>
    </div>
</div>