注文履歴詳細
<table>
    <tr>
        <th>購入者</th>
        <td><%= @order.customer.name %></td>
    </tr>
    <tr>
        <th>注文日時</th>
        <td><%= @order.created_at.strftime('%Y/%-m/%d - %H:%M.%S') %></td>
    </tr>
    <tr>
        <th>配送先</th>
        <td><%= @order.address_display %></td>
    </tr>
    <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
        <th>注文ステータス</th>
        <td>
            <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f|%>
                <%#= f.collection_select :status, Order.status.all, :id,:id  %>
                <%#= f.collection_select(@order, :status, Order.statuses.keys, :to_s, :humanize) %>
                <%#= f.collection_select(:order, :status, Order.statuses.keys) %>
                <%#= f.select :status, options_from_collection_for_select(Order.statuses, Order.statuses.keys.to_a, Order.statuses_i18n.invert.keys.to_s) %>
                <%#= f.select :status, Order.statuses.keys.to_a %>
                <%= f.select :status, Order.statuses_i18n.invert.to_a %>
                
                <%#= f.select :status, options_from_collection_for_select(Order.statuses.keys.to_, Order.statuses_i18n.invert.keys.to_a, Order.statuses.keys.to_a) %>
                

                <%= f.submit '更新',class:"btn btn-success" %>
            <% end %>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
    　　<th>数量</th>
    　　<th>小計</th>
    　　<th>製作ステータス</th>
    　　<th></th>
    </tr>
    <tbody>
    <% sum=0 %>
    <% @order.order_details.each do |order_detail| %>
        <tr>
            <td><%=order_detail.item.name %></td>
            <td><%=order_detail.price_add_tax %></td>
            <td><%=order_detail.amount %></td>
            <td><%=order_detail.price_add_tax*order_detail.amount %></td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f|%>
                <td>
                    <%#= f.collection_select :status, Order.status.all, :id,:id  %>
                    <%#= f.collection_select(@order, :status, OrderDetail.making_statuses.keys.to_a) %>
                    <%#= f.select :status, options_from_collection_for_select(OrderDetail.making_statuses.keys, :id,:id) %>
                    
                    <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert.to_a %>
                    
                </td>
                <td><%= f.submit '更新',class:"btn btn-success" %></td>
            <% end %>
            <% sum+= order_detail.price_add_tax*order_detail.amount %>
        </tr>
    <% end %>
    </tbody>
</table>

<table>
    <tr>
        <td>商品合計（税込）</td>
        <td><%= sum %></td>
    </tr>
    <tr>
        <td>配送料</td>
        <td><%=@order.postage%></td>
    </tr>
    <tr>
        <td><b>ご請求額（税込）</b></td>
        <td><b><%= @order.charge %></b></td>
    </tr>
</table>