注文履歴詳細

<b>注文情報</b>
<table>
    <tr>
        <td>注文日</td>
        <td><%= @order.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d- %H:%M') %></td>
    </tr>
    <tr>
        <td>配送先</td>
        <td><%= "〒" + @order.postal_number %><br>
            <%=@order.address%><br>
            <%=@order.addressee%></td>
    </tr>
    <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
        <td>支払ステータス</td>
        <td><%= @order.status_i18n %></td>
    </tr>
</table>


<b>請求情報</b>
<table>
    <tr>
        <td>商品合計（税込）</td>
        <td><%= @order.charge.to_i- @order.postage.to_i%></td>
    </tr>
    <tr>
        <td>配送料</td>
        <td><%=@order.postage%></td>
    </tr>
    <tr>
        <td><b>ご請求額（税込）</b></td>
        <td><%= @order.charge %></td>
    </tr>
</table>


<table>
    <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
    　　<th>数量</th>
    　　<th>小計</th>
    </tr>
    <tbody>
    <% sum=0 %>
    <% @order_details.each do |order_detail| %>
        <tr>
            <td><%=order_detail.item.name %></td>
            <td><%=order_detail.price_add_tax %></td>
            <td><%=order_detail.amount %></td>
            <td><%=order_detail.price_add_tax*order_detail.amount %></td>
            <% sum+= order_detail.price_add_tax*order_detail.amount %>
        </tr>
    <% end %>
    </tbody>
</table>
